project_id = "mwzomfnnrzhrqtzzvovl"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[auth]
enabled = true
site_url = "http://localhost:3000"

[functions.fedapay-payment]
verify_jwt = false

[functions.fedapay-webhook]
verify_jwt = false

[functions.money-fusion-payment]
verify_jwt = false

[functions.money-fusion-webhook]
verify_jwt = false

[functions.create-admin]
verify_jwt = false
